body {
		border: 10px solid #2F4F4F;
		}

		h1{
			text-align: center;
			text-shadow: 5px 5px 6px gray;
		}
		
		h2 {
			text-align: center;
			text-shadow: 3px 3px 4px gray;
		}
		
		h2 {
			text-align: left;
			text-shadow: 5px 5px 6px gray;
		}